In [1]:
import pandas as pd
import os

In [10]:
file = os.path.join("vgsales.csv")
df = pd.read_csv(file)

In [11]:
to_drop = ['NES', 'SNES', 'SAT', '2600', 'GB', 'GEN', 'NG', 'SCD', 'WS', '3DO', 'TG16', 'GG', 'PCFX']
df = df[~df['Platform'].isin(to_drop)]
df = df.dropna()
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [12]:
df = df.drop_duplicates(subset=['Name', 'Platform'], keep='first')

In [13]:
title_df = df[["Name", "Year", "Publisher", 'Platform', 'Genre']]
title_df = title_df.rename(columns={"Name": "game_title", "Publisher": "publisher", "Year":"year_released",\
                                    'Genre':'genre'})
title_df = title_df.dropna(subset=['game_title'])
title_df

,game_title,year_released,publisher,Platform,genre
0,Wii Sports,2006.0,Nintendo,Wii,Sports
2,Mario Kart Wii,2008.0,Nintendo,Wii,Racing
3,Wii Sports Resort,2009.0,Nintendo,Wii,Sports
6,New Super Mario Bros.,2006.0,Nintendo,DS,Platform
7,Wii Play,2006.0,Nintendo,Wii,Misc
...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,2002.0,Kemco,GBA,Platform
16594,Men in Black II: Alien Escape,2003.0,Infogrames,GC,Shooter
16595,SCORE International Baja 1000: The Official Game,2008.0,Activision,PS2,Racing
16596,Know How 2,2010.0,7G//AMES,DS,Puzzle
16597,Spirits & Spells,2003.0,Wanadoo,GBA,Platform

In [14]:
title_df = title_df.drop_duplicates(subset=['game_title'])
title_df

,game_title,year_released,publisher,Platform,genre
0,Wii Sports,2006.0,Nintendo,Wii,Sports
2,Mario Kart Wii,2008.0,Nintendo,Wii,Racing
3,Wii Sports Resort,2009.0,Nintendo,Wii,Sports
6,New Super Mario Bros.,2006.0,Nintendo,DS,Platform
7,Wii Play,2006.0,Nintendo,Wii,Misc
...,...,...,...,...,...
16589,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016.0,dramatic create,PSV,Action
16590,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Falcom Corporation,PSP,Role-Playing
16592,Plushees,2008.0,Destineer,DS,Simulation
16593,Woody Woodpecker in Crazy Castle 5,2002.0,Kemco,GBA,Platform
16596,Know How 2,2010.0,7G//AMES,DS,Puzzle

In [15]:
title_df = title_df.drop(columns=['Platform'])
title_df = title_df.reset_index(drop=True)
title_df.index.name = "id"
title_df

,game_title,year_released,publisher,genre
id,,,,
0,Wii Sports,2006.0,Nintendo,Sports
1,Mario Kart Wii,2008.0,Nintendo,Racing
2,Wii Sports Resort,2009.0,Nintendo,Sports
3,New Super Mario Bros.,2006.0,Nintendo,Platform
4,Wii Play,2006.0,Nintendo,Misc
...,...,...,...,...
10659,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,2016.0,dramatic create,Action
10660,Eiyuu Densetsu: Sora no Kiseki Material Collec...,2007.0,Falcom Corporation,Role-Playing
10661,Plushees,2008.0,Destineer,Simulation
10662,Woody Woodpecker in Crazy Castle 5,2002.0,Kemco,Platform
10663,Know How 2,2010.0,7G//AMES,Puzzle

In [16]:
genre_df = title_df[['genre']]
genre_df.index.name = "title_id"
genre_df.to_csv('genre.csv')
genre_df

                 genre
title_id
0               Sports
1               Racing
2               Sports
3             Platform
4                 Misc
...                ...
10659           Action
10660     Role-Playing
10661       Simulation
10662         Platform
10663           Puzzle

[10664 rows x 1 columns]

In [17]:
title_df.to_csv('title.csv')

CREATE SALES DATAFRAME

In [18]:
sales_df = df

In [19]:
sales_df = sales_df[['Name', 'Platform','NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]
sales_df

,Name,Platform,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,41.49,29.02,3.77,8.46
2,Mario Kart Wii,Wii,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,15.75,11.01,3.28,2.96
6,New Super Mario Bros.,DS,11.38,9.23,6.50,2.90
7,Wii Play,Wii,14.03,9.20,2.93,2.85
...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,0.00,0.00,0.00,0.00
16596,Know How 2,DS,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,0.01,0.00,0.00,0.00

In [20]:
title_id_dict = dict(zip(title_df.game_title, title_df.index))
sales_df['Name'] = sales_df['Name'].map(title_id_dict)
sales_df

<ipython-input-20-6a6f7ada6102>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df['Name'] = sales_df['Name'].map(title_id_dict)

        Name Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0          0      Wii     41.49     29.02      3.77         8.46
2          1      Wii     15.85     12.88      3.79         3.31
3          2      Wii     15.75     11.01      3.28         2.96
6          3       DS     11.38      9.23      6.50         2.90
7          4      Wii     14.03      9.20      2.93         2.85
...      ...      ...       ...       ...       ...          ...
16593  10662      GBA      0.01      0.00      0.00         0.00
16594   2615       GC      0.01      0.00      0.00         0.00
16595   6031      PS2      0.00      0.00      0.00         0.00
16596  10663       DS      0.00      0.01      0.00         0.00
16597  10001      GBA      0.01      0.00      0.00         0.00

[15507 rows x 6 columns]

In [21]:
sales_df = sales_df.rename(columns={"Name": "title_id", "NA_Sales": "na_sales", "EU_Sales":"eu_sales",\
                                    'JP_Sales':'jp_sales', 'Other_Sales':'other_sales', 'Platform':"platform_id"})
sales_df = sales_df.set_index('title_id')

In [22]:
sales_df

         platform_id  na_sales  eu_sales  jp_sales  other_sales
title_id
0                Wii     41.49     29.02      3.77         8.46
1                Wii     15.85     12.88      3.79         3.31
2                Wii     15.75     11.01      3.28         2.96
3                 DS     11.38      9.23      6.50         2.90
4                Wii     14.03      9.20      2.93         2.85
...              ...       ...       ...       ...          ...
10662            GBA      0.01      0.00      0.00         0.00
2615              GC      0.01      0.00      0.00         0.00
6031             PS2      0.00      0.00      0.00         0.00
10663             DS      0.00      0.01      0.00         0.00
10001            GBA      0.01      0.00      0.00         0.00

[15507 rows x 5 columns]

In [23]:
sales_df.to_csv("sales.csv")